.fileLoader {
    height: 100px;
    width: auto;
    background-color: #eee;
    border-radius: 10px;
    border: solid #333;
    text-align: center;
    color: #333;
    align-items: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    

}
.hiddenInputFiles{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}