.pagination {
    display: flex;
    list-style-type: none;
    li {
        border: solid black 1px;
        padding: 2px;
        text-decoration: none;
    }
    a {
        text-decoration: none;
        color: red;
    }
}
